table {
  table-layout: fixed;
}

.level2 {
  font-size: 0.9em;
  color: rgb(68, 66, 66);
}

.level3 {
  font-size: 0.8em;
  color: grey;
}

.ranking {
  margin-top: 1rem;
  background: turquoise;
  color: white;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 !important;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.level1 .earnings {
  font-size: 1.15rem;
}

.earnings {
  text-align: right;
}

.material-icons.md-15 {
  font-size: 16px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.green {
  color: green;
}

.rankingChange {
  font-size: 0.75rem;
  text-align: center;
}

.poolsterHandle {
  font-size: 1.15rem;
}

.poolsterName {
  font-size: 0.8rem;
  color: grey;
}
