table {
  table-layout: fixed;
}

.level2 {
  font-size: 0.9em;
  color: rgb(68, 66, 66);
}

.level3 {
  font-size: 0.8em;
  color: grey;
}

.ranking {
  margin-left: 0.8rem;
  margin-top: 1rem;
  background: rgb(221, 160, 27);
  color: white;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 !important;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  font-size: 1.25rem;
  outline: 2px solid grey;
}

.level1 .earnings {
  font-size: 1.1rem;
}

.earnings {
  text-align: right;
}

.material-icons.md-28 {
  font-size: 28px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons.green {
  color: green;
}
