.is-centered {
  margin-top: 1rem;
}

.lastEventDetails,
#lastEventDetails {
  font-size: 0.8rem;
  padding: 0;
}

#lastEventDetails > p {
  margin-bottom: 0;
}

.lastEventDetails {
  border: 1px solid lightgrey;
  margin-bottom: 1rem;
  background-color: linen;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.eventData {
  white-space: pre;
}

.ranking {
  color: black;
  font-size: 1.5rem;
  padding-left: 1rem !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.rankingChange {
  font-size: 0.75rem;
  text-align: left;
  padding-top: 0.9rem !important;
  padding-left: 0.25rem !important;
}

.poolsterImage {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid grey;
  margin-left: 0.5rem;
}

.poolsterHandle {
  font-size: 1.15rem;
}

.poolsterName {
  font-size: 0.8rem;
  color: grey;
}

.earnings {
  text-align: right !important;
}

.level1 .earnings {
  font-size: 1.15rem;
}

.level2 {
  font-size: 0.9em;
  color: rgb(68, 66, 66);
}

.level2A {
  padding-left: 1.5rem !important;
  white-space: pre;
}

.level3 {
  font-size: 0.8em;
  color: grey;
}

.level3A {
  padding-left: 1.5rem !important;
}

.material-icons.md-15 {
  font-size: 16px;
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons {
  display: inline-flex;
  vertical-align: bottom;
}
