body {
  font: 75%/1.25em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
  white-space: nowrap;
  max-width: 700px;
  margin: auto;
}

.fedex {
  background-color: purple;
  color: white;
  font-weight: 800;
}

.pool {
  background-color: green;
  color: white;
  font-weight: 800;
}

#returnLink {
  color: blue;
}
